body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    background-image: url('cloud.webp');
    background-position: center;
    background-size: cover;
    color: #fff;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    margin: 0 0 20px;
}

.search-box {
    margin-bottom: 20px;
}

#location-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#weather-info {
    margin-top: 20px;
}

#weather-info h2 {
    margin: 10px 0;
}

#weather-info p {
    margin: 5px 0;
}
